
.starred {
    color: yellow;
    font-size: 24px;
}
.starred:hover {
    /*text-decoration: underline;*/
    font-weight: bold;
}

.rounded {
    border-radius: 4px;
}

scale slider {
    min-width: 20px;
    min-height: 20px;
}
