
.now-playing-overlay:hover {
    color: red;
}
.playerBar-playPauseButton {
    -gtk-icon-size: 24px;
}
.starred {
    color: yellow;
    font-size: 24px;
}
.starred:hover {
    /*text-decoration: underline;*/
    font-weight: bold;
}

.rounded {
    border-radius: 4px;
}

scale slider {
    min-width: 20px;
    min-height: 20px;
}

.larger-title {
  font-weight: 600;
  font-size: 24pt;
}

.click-label:hover {
    /*color: white;*/
    color: white;
    opacity: 1.0;
    text-decoration: underline;
}